<div class="row justify-content-center">
  <div class="card col-6">
    <div class="card-body">
      <h5 class="card-title text-center">Post</h5>
      <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
      </div>

      <div>
        <strong>Title:</strong>
        <p>{{ post.title }}</p>
      </div>

      <div>
        <strong>Body:</strong>
        <p>{{ post.body }}</p>
      </div>

      <a href="#" routerLink="/posts" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
